body {
    background-color: black;
}
.calculator {
    background-color: white;
    width: 200px;
}
.buttons {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    width: 200px;
}
.button-row {
    display: flex;
}
button {
    font-size: large;
    width: 50px;
    height: 50px;
}
.display {
    border-bottom: solid black 2px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    padding: 10px;
    width: 180px;
    height: 30px;
    font-size: 30px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.displaySmall {
    border-top: solid black 2px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    overflow: auto;
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-align: right;
}